#wrapper, #scores {
  margin: 0 auto;
  width: 80%; 
  text-align: center;
}

#mat {
  height: 40px;
}

.center {
  margin: 0 auto;
  text-align: center;
}

#roll {
  display: none;
}
#banner {
  font-size: 28px;
  font-weight: bold;
  border-bottom: 1px solid black;
  padding-bottom: 15px;
  margin-bottom: 5px;
}

#banner, #header, #instruction, td {
  text-align: center;
}

