#wrapper {
  margin: 0 auto;
  width: 80%; 
  text-align: center;
}

#bartop{
  height: 200px;
  border: 1px solid black;
}

table {
  border: 1px solid black;
  width: 100%;
}

#mat {
  height: 40px;
}

#dietest{
  height:200px;
}

#roller{
  height: 20px;
}

.center {
  margin: 0 auto;
  text-align: center;
}

#roll {
  display: none;
}
#banner {
  font-size: 28px;
  font-weight: bold;
  border-bottom: 1px solid black;
  padding-bottom: 15px;
  margin-bottom: 5px;
}

#banner, #header, #instruction, td {
  text-align: center;
  border: 1px solid black;

}

.score-player{
  width: 10%;
}

.score-dice {
  width: 70%;
}